.container {
  position: relative;
  display: flex;
  flex-direction: row;
  height: calc(100% - 7rem);
  // overflow-y: auto;
}

.menu {
  position: absolute;
  top: 0;
  right: 15%;
  margin-top: 1.5rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  z-index: 3;

  @media (min-width: 746px) {
    right: 13%;
  }
}

.plus {
  position: absolute;
  top: 0;
  right: 5%;
  margin-top: 1rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  z-index: 3;
}

.listNotes {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  height: calc(100vh - 7rem);
  background-color: var(--dark90);

  p {
    font-size: 1.6rem;
    color: #FFF;
    margin-top: 1rem;
  }
}

.listNotes.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.content {
  padding: 0 5%;
  margin-top: 8rem;
  width: 100%;
}

.content.active {
  position: absolute;
  top: 0;
  left: 30%;
  width: 70%;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  padding: 0 5%;
  width: 90%;
  background-color: var(--dark80);
  border: 0;
  border-radius: .5rem;

  input {
    font-size: 1.6rem;
    color: var(--light100);
    padding: 1rem;
    height: 4rem;
    width: 80%;
    background-color: transparent;
    border: 0;
  }

  button {
    font-size: 1.6rem;
    width: 20%;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
}
