:root {
  --dark100: #141414;
  --dark90: #191919;
  --dark80: #222;
  --light100: #F2E3D5;
  --white: #FFF;
  --green100: #023535;
  --green80: #015958;
  --green60: #008F8C;
  --green40: #0CABA8;
  --green20: #0FC2C0;
  --pink100: #F2668B;
  --yellow100: #F2CB05;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  font-size: 52.6%;
  font-family: 'Poppins', sans-serif;
  background-color: var(--dark100);

    /* width */
  ::-webkit-scrollbar {
    width: .5rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--dark80);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--green20);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--green60);
  }
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, .75) !important;
  z-index: 6;
}

.ReactModal__Content {
  background-color: var(--dark100) !important;
  border: 1px solid var(--dark100) !important;
}

.Toastify__toast-container {
  font-size: 1.6rem;
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: var(--dark100);
}
